<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    GlassMinds LLC
  </a>
</nav>

<header>
	<div class ="backgroundPattern sectionHeight">
		<div class="row">
			<div class="col-lg">
				<div class="jumbotron" id="openingHeader">
				  <h1 class="display-4">Hello, world!</h1>
				  <p class="lead">My name is Mason. I am a full time Software Engineer, part time freelancer. Website design and development has always been an interest of mine because I enjoy taking an idea to fruition. Thanks for stopping by! </p>
				  <hr class="my-4">
				  <p class="lead">
				    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Start You Project -></a> -->
				  </p>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container-fluid">
	<ul class="nav justify-content-center">
	  <li class="nav-item">
	    <a class="nav-link active" href="#">Active</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Link</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" href="#">Disabled</a>
	  </li>
	</ul>

	<%= render partial: 'pricing' %>
	<%= render partial: 'servicesTwo' %>
	<%= render partial: 'aboutMe' %>
	<%= render partial: 'marketing' %>

	<div class ="row">
		<div class="col-lg center-front">
			<h3> Leave a Message</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg message-form">
        <%= render partial: 'form' %>
		</div>
	</div>
</div>





<script type="text/javascript">
	var one = document.getElementById('skill-one');
	var two = document.getElementById('skill-two');
	var three = document.getElementById('skill-three');
	var four = document.getElementById('skill-four');
	var five = document.getElementById('skill-five');
	var six = document.getElementById('skill-six');

	one.addEventListener('mouseover', function(){
		console.log("heyy")
	})

	function myOverFunction(data){

		switch(data){
			case 'one':
				one.style.backgroundImage = "url('/assets/book.jpeg')"
				one.style.backgroundRepeat= "no-repeat"
				one.style.backgroundAttachment= "fixed"
				one.style.backgroundSize= "contain"
				one.style.backgroundPosition= "center"
				one.style.height="350px"
			break;
			case 'two':
				two.style.backgroundImage = "url('/assets/code5.jpeg')"
				two.style.backgroundRepeat= "no-repeat"
				two.style.backgroundAttachment= "fixed"
				two.style.backgroundSize= "contain"
				two.style.backgroundPosition= "center"
				two.style.height="350px"
			break;
			case 'three':
				three.style.backgroundImage = "url('/assets/book.jpeg')"
				three.style.backgroundRepeat= "no-repeat"
				three.style.backgroundAttachment= "fixed"
				three.style.backgroundSize= "contain"
				three.style.backgroundPosition= "center"
				three.style.height="350px"
			break;
			case 'four':
				four.style.backgroundImage = "url('/assets/code5.jpeg')"
				four.style.backgroundRepeat= "no-repeat"
				four.style.backgroundAttachment= "fixed"
				four.style.backgroundSize= "contain"
				four.style.backgroundPosition= "center"
				four.style.height="350px"
			break;
			case 'five':
				five.style.backgroundImage = "url('/assets/book.jpeg')"
				five.style.backgroundRepeat= "no-repeat"
				five.style.backgroundAttachment= "fixed"
				five.style.backgroundSize= "contain"
				five.style.backgroundPosition= "center"
				five.style.height="350px"
			break;
			case 'six':
				six.style.backgroundImage = "url('/assets/code5.jpeg')"
				six.style.backgroundRepeat= "no-repeat"
				six.style.backgroundAttachment= "fixed"
				six.style.backgroundSize= "contain"
				six.style.backgroundPosition= "center"
				six.style.height="350px"
			break;
		}
	};
	function myOffFunction(data){

	switch(data){
			case 'one':
		one.style.backgroundImage = "none"
		one.style.height="175px"
			break;
			case 'two':
		two.style.backgroundImage = "none"
		two.style.height="175px"
			break;
			case 'three':
		three.style.backgroundImage = "none"
		three.style.height="175px"
			break;
			case 'four':
		four.style.backgroundImage = "none"
		four.style.height="175px"
			break;
			case 'five':
		five.style.backgroundImage = "none"
		five.style.height="175px"
			break;
			case 'six':
		six.style.backgroundImage = "none"
		six.style.height="175px"
			break;
		}
	}

</script>
